<!DOCTYPE html>
<html lang="en" ng-cloak ng-app="withdrawApp" ng-controller="withdrawController">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>提现</title>
    <meta name="description" content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="阿里巴巴国际UED前端">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="https://scdn.yourbay.net/css/sm.min.css">
    <link rel="stylesheet" href="https://scdn.kaisaile.org/kaisaile/fridaycdn/sm-extend.css">
    <link rel="stylesheet" href="https://scdn.kaisaile.org/kaisaile/fridaycdn/demos.css">

</head>

<style>
    .moren-pic {
        width: 100%;
    }

    .title {
        padding: 0 .5rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .act-title-adress {
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .78rem;
        color: #999;
    }

    .visitors {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .visitors img {
        width: .8rem;
        margin-right: .2rem;
        height: auto;
    }

    .list-block .item-title.label {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    .list-block .item-media.position,
    .list-block .item-media.people-num {
        display: block;
        padding-top: 0;
    }

    .pisition-pic,
    .ul2-pic {
        width: 1rem;
    }

    .list-block .item-title.label.positionInfo,
    .list-block .item-title.label.people-numInfo {
        padding-left: .4rem;
        font-size: .78rem;
    }

    .list-block .item-media+.item-inner {
        margin-left: 0;
    }

    .list-block .item-content {
        padding-right: .75rem;
    }

    .list-block .item-media.people-num {
        padding-top: 0.7rem;
    }

    .color {
        color: #f08300;
    }

    .list-block .item-title.label.detailed {
        display: flex;
        align-items: center;
    }

    .bm-info {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .button.button-success {
        background: #61b72b;
        border-color: #61b72b;
        color: #fff;
        height: 2.8rem;
        line-height: 2.8rem;
        font-size: 1rem;
    }

    .content-block {
        margin-bottom: 0;
        margin-top: 0;
        margin-top: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .content {
        padding-bottom: 2rem;
    }

    .color {
        color: #61b72b;
    }

    .num {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .Total {
        margin: 0 .5rem;
    }

    .Verification {
        border: none;
        background: transparent;
        color: #61b72b;
        white-space: nowrap;
    }

    .gray {
        color: #999;
    }
</style>

<body>

    <button id="rootpath" value="__ROOT__" hidden="true"></button>

    <div class="page-group">
        <div class="page page-current">
            <div class="content native-scroll">
                <div class="list-block" style="margin: 0;">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner" style="padding-right:0;">
                                    <div class="item-title label positionInfo gray">提现金额
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label" style="width: 100%;">
                                        <div>
                                            <div style="display:flex;align-items: center;">
                                                <span class="num">￥</span>
                                                <div class="item-input">
                                                    <input type="text" ng-model="withdrawMoney" ng-keyup="CheckValidMoney()" placeholder="请输入提现金额">
                                                </div>

                                            </div>

                                            <p>
                                                <span style="color:#999">可提现余额<span class="Total">￥<span ng-bind="currinfo.money-withdrawallfee"></span>元</span>
                                                </span>
                                                <span class="color" ng-click="WithdrawAll()">全部提现</span>
                                            </p>
                                            <p ng-show="currinfo.numvalue" style="overflow:auto;">
                                                <span style="color:#999">{{withdraw_msg}}{{withdrawfee_msg}}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-block" style="margin: 0.5rem 0;">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner" style="padding-right:0;">
                                    <div class="item-title label positionInfo gray">收款人信息
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content" ng-if="!currinfo.HasAuth">
                                <div class="item-inner">
                                    <div class="item-title label" style="width: 100%;">
                                        <div>
                                            <p>
                                                <span style="color:#999">当前微信尚未绑定电话，</span>
                                                <span class="color" ng-click="BindUser()">立即绑定>></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">收款人姓名</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="微信绑定银行卡的收款人"
                                             ng-disabled="disable_input_name"  ng-model="currinfo.realname">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-block" style="margin: 0;margin-bottom: 1rem;">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner" style="padding-right:0;">
                                    <div class="item-title label positionInfo gray">身份验证
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">当前帐号</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="" disabled ng-model="currinfo.mobile">
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">验证码</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="输入验证码" ng-model="currinfo.verifyCode">
                                    </div>
                                    <button class="Verification" ng-click="getVerifyCode()" ng-bind="btVerifyCode">获取验证码</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="content-block" style="margin-bottom: 0;" ng-if="showSubmit">
                <p style="margin: 0;"><a href="#" class="button button-success" ng-click="SubmitWithdraw()">提现</a></p>
            </div> 
        </div>
    </div>
    </div>

    <script type="text/javascript" src="https://scdn.kaisaile.org/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://scdn.yourbay.net/js/sm.min.js"></script>
    <script src="https://scdn.yourbay.net/sm-city-picker.js"></script>
    <script src="https://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="__PUBLIC__/youbei/js/nbv/common.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>

</body>
<script type="text/javascript">
    var rootpath = getRootPath();
    var app = angular.module('withdrawApp', []);
    app.controller('withdrawController', function ($scope, $http, $timeout, $compile) {
        var token = getUrlParam('token');
        if (!token) {
            alert("缺少token参数！");
            return;
        }
        var jgid = getUrlParam('jgid');
        $scope.disable_input_name = false;
        if (jgid){
            $scope.disable_input_name = true;
        }
        GetInfo();
        $scope.CheckValidMoney = function () {
            $scope.withdrawfee_msg = "";
            $scope.withdrawMoney = StrReplaceForFloat($scope.withdrawMoney);
            if ($scope.withdrawMoney){
                if ($scope.currinfo.numvalue){
                    $scope.withdrawfee_msg = "，实际扣减金额为：";
                    if ($scope.currinfo.strvalue === '%'){
                        $scope.withdrawfee_msg += ($scope.withdrawMoney*$scope.currinfo.numvalue/100).toFixed(2);
                    }else{
                        $scope.withdrawfee_msg += ($scope.currinfo.numvalue).toFixed(2);
                    }
                    $scope.withdrawfee_msg += "元";
                }
            }
        };
        $scope.BindUser = function () {
            var url = window.location.href.split("&code")[0];
            window.location.href = 'bindmobile?backurl=' + encodeURIComponent(url);
        };
        $scope.canGetVerfiyCode = true;
        $scope.btVerifyCode = '获取验证码';
        $scope.getVerifyCode = function () {
            if ($scope.canGetVerfiyCode) {
                if (!$scope.currinfo.mobile) {
                    $scope.errmsg = '手机号码不正确！';
                    return;
                }
                $scope.canDisBind = false;
                var maxwait = 60;
                $scope.canGetVerfiyCode = false;
                $scope.btVerifyCode = maxwait + 's';
                $scope.curr = maxwait;
                for (var i = 0; i <= maxwait; i++) {
                    $timeout(function () {
                        $scope.btVerifyCode = $scope.curr + 's';
                        if ($scope.curr == 0) {
                            $scope.canGetVerfiyCode = true;
                            $scope.btVerifyCode = '获取验证码';
                        }
                        $scope.curr--;
                    }, i * 1000);

                }
                $scope.errmsg = '';
                $http.get(rootpath + '/RestIndex/SendVerifyCode?tel=' + $scope.currinfo.mobile)
                    .success(function (ret) {
                        $scope.errmsg = ret.resp.msg;
                    })
                    .error(function () {
                        $scope.errmsg = '网络错误，请重新获取验证码！';
                    });
            }
        };
        $scope.SubmitWithdraw = function () {
            if (!$scope.currinfo.HasAuth) {
                alert("请先绑定微信！");
                return;
            }
            if (!$scope.withdrawMoney) {
                alert("请输入提现金额！");
                return;
            }
            if (!$scope.currinfo.verifyCode) {
                alert("请输入手机验证码！");
                return;
            }
            if (parseFloat($scope.withdrawMoney) > parseFloat($scope.currinfo.money)) {
                alert("提现金额不能大于账户余额！");
                return;
            }
            if (!$scope.currinfo.realname) {
                if (jgid){
                    alert("提现需先实名认证，点击后跳转认证页面");
                    window.location.href = rootpath + '/WxViews/actindex?id=2';
                }else{
                    alert("请输入收款人姓名！");
                }
                return;
            }
            if($scope.withdrawMoney*1000/10 < 1.1){
                alert('提现金额必需大于1.1元才能提现（微信提现限制）');
                return;
            }
            $scope.currinfo.withdrawMoney = $scope.withdrawMoney;
            var postData = {
                'total_fee': $scope.currinfo.withdrawMoney,
                'Type': 2,
                'verifyCode': $scope.currinfo.verifyCode,
                'realname': $scope.currinfo.realname,
                'token' : token,
            };

            if (jgid) {
                postData.jgid = jgid;
                postData.Type = 1;
            }
            $scope.showSubmit = false;
            $http.post(rootpath + '/RestIndex/WithdrawAct?token=' + token, postData)
                .success(function (ret) {
                    if (ret.resp.err == 0) {
                        alert("提现成功！");
                        if (IsWeiXinAgent()) {
                            wx.miniProgram.getEnv(function (res) {
                                if (res.miniprogram) {
                                    wx.miniProgram.redirectTo({ url: '/fubao/balance/balance' });
                                }
                            });
                        }

                    } else {
                        alert(ret.resp.msg);
                    }
                    $scope.showSubmit = true;
                })
                .error(function () {
                    alert("网络错误，请重试！");
                    $scope.showSubmit = true;
                });
        };
        $scope.WithdrawAll = function () {
            $scope.withdrawfee_msg = "";
            if ($scope.currinfo.numvalue){
                $scope.withdrawfee_msg = "，实际扣减金额为：" + $scope.withdrawallfee + "元";
            }
            $scope.withdrawMoney=($scope.currinfo.money-$scope.withdrawallfee);
        };
        function GetInfo() {
            $scope.withdraw_msg = "";
            $scope.withdrawallfee = 0;
            $http.post(rootpath + '/RestCore/GetWithdrawInfo', { token: token, jgid : jgid })
                .success(function (ret) {
                    var errcode = ret.resp.err;
                    switch (errcode) {
                        case -2:
                            if (IsWeiXinAgent()) {
                                wx.miniProgram.getEnv(function (res) {
                                    if (res.miniprogram) {
                                        wx.miniProgram.navigateTo({ url: '/pages/login/login' });
                                    } else {
                                        alert(ret.resp.msg);
                                    }
                                });
                            } else {
                                alert(ret.resp.msg);
                            }
                            break;
                        case 0:
                            $scope.currinfo = ret.content;
                            if ($scope.currinfo.numvalue){
                                if ($scope.currinfo.strvalue === '%'){
                                    $scope.withdraw_msg = "提现手续费为百分比扣减：" + $scope.currinfo.numvalue + "%";
                                    $scope.withdrawallfee = ($scope.currinfo.money*$scope.currinfo.numvalue/100).toFixed(2);
                                }else{
                                    $scope.withdraw_msg = "提现手续费为固定扣减金额：" + $scope.currinfo.numvalue + "元";
                                    $scope.withdrawallfee =  ($scope.currinfo.numvalue).toFixed(2);
                                }
                            }
                            $scope.showSubmit = true;
                            break;
                        default:
                            alert(ret.resp.msg);
                            break;
                    }
                })
                .error(function () {
                    alert("网络错误，请重试！");
                });
        }
    });

</script>

</html>